pandasai
streamlit_chat
streamlit
pypdf
langchain
torch
accelerate
bitsandbytes
transformers
sentence_transformers
faiss_cpu
python-dotenv
matplotlib
pandas
openai
tabulate
pandasai
langchain_experimental.agents.create_pandas_dataframe_agent
